/*normalize margins and padding*/



.container {
	font-family: sans-serif;
	margin: 0px auto;
background-image: url("http://movies.flabber.nl/wp2013-12/need-for-Speed-had-ook-de-titel-van-een-film-over-drugsverslaving-kunnen-zijn.jpg");
}

header {
padding-top: 3%;
margin-left: 39%;
}

.header_text {
	color: #300075;
  font-size: bold;
  font-style: underline;
	display:block;
	
  font-family: Arial;
} 
/*add image buttons for hyperlinks*/
header nav {

	display:inline;
}
header nav a {
  color: rgba(4, 0, 176, 0.9);

}
header nav:link{
	text-decoration: none;
}
header nav:visited{
	font-color: red;
}







.blogs{
  display: inline-flex;
  float: left;
  margin-left: 25.5%;
  margin-top: 5%;
  margin-bottom: 3%;
  width: 820px;
}

.blog_links a {
  color: rgba(81, 0, 0, 0.93);
}

#culture {
  display: inline-block;
  background-color: rgba(0, 146, 178, 0.42);
  border: 1px solid black;
  margin: 3%;
  height: 400px;
  width: 400px;
  padding-left: 2%;
}
#technical{
  display: inline-block;
  background-color: rgba(159, 189, 0, 0.39);
  border: 1px solid black;
  margin: 3%;
  height: 400px;
  width: 400px;
  padding-left: 2%;
}




#social {
	float: right;
	margin-top: 10%;
  margin-right: 25%;
	background-color: rgba(255, 188, 33, 0.45);
	border: 1px solid black;
}
.links {
  color: rgba(81, 0, 0, 0.93);
  margin-top: 50%;
  display: block;
  /*background-color: #FFF80B;*/
}






footer {

  clear: both;
/*  border: 2px solid gray;*/
  width: 100%;
  text-align: center;
  margin-top: 33%;
  font-size: 20px;
  padding-bottom: 3%;
}