/*normalize margins and padding*/



.container {
	font-family: sans-serif;
	margin: 0px auto;
}

header {
	background-color: #FFCD19;
	border: 4px solid #545454;
}

.header_text {
	color: black;
	display:block;
	margin-left: 7%;
} 

header nav {
	background-color: #FFBC21;
	border:1px solid #545454;
	margin-left: 60%;
	display:inline;
}

header nav:link{
	text-decoration: none;
	color: #E87147;
}

header nav:hover{
	background-color: #545454;
}

header nav:visited{
	font-color: red;
}



.blogs{
  display: inline-flex;
  float: left;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 3%;
  border: 2px solid black;
  width: 820px;
  background-color: #B6C8A9;
	
}
#culture {
  display: inline-block;
  background-color: #0092B2;
  border: 1px solid black;
  margin: 3%;
  height: 400px;
  width: 400px;
}

#technical{
  display: inline-block;
  background-color: #9FBD00;
  border: 1px solid black;
  margin: 3%;
  height: 400px;
  width: 400px;
}



#social {
	float: right;
	margin-right: 1em;
	margin-top: 5em;
	background-color: #FFBC21;
	border: 1px dashed black;
}
.links {
  margin-top: 50%;
  display: block;
  /*background-color: #FFF80B;*/
}



footer {
  margin-bottom: 10%;
  clear: both;
  border: 2px solid gray;
  width: 100%;
  text-align: center;
  margin-top: 35%;
  background-color: #B52804;
}