* {
	font-family: sans-serif;

}
header {
	background-color: #FFCD19;
	border: 2px solid #545454;
}

header nav {
	margin-right: 5em;
  	margin-left: 70%;
}

.blogtitle {
	margin-top: 5em;
	background-color: #FF7800;
	border: 2px solid black;
	text-indent: 7em;
}

.blogtitle h1 {
	text-decoration: underline;
}

section {
	background-color: #0092B2;
	margin-top: 0em;
	border: 1px solid black;
}

section p {
	margin-left: 7em;
	margin-right: 6em;
}

footer {
  margin-bottom: 10%;
  clear: both;
  border: 1px solid gray;
  width: 100%;
  text-align: center;
  margin-top:5%;
  background-color: #ADACBF;
}